body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 35px;
}


p {
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 55%;
    display: inline;
    justify-content: center;

}

.quote {
    font-style: italic;

}

footer {
    text-align: center;
    padding: 10px;
}
